/* VARIABLES */
:root {
    --bg-color: #fff;
    --link-color: #000;
    --link-size: 1.1rem;
    --right-side-bg-color: 81, 187, 254;
  }
  
  /* General CSS */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Rubik;
  }
  
  html {
    font-size: 16px;
    overflow-x: hidden;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  .card-img-top {
    object-fit: cover;
    height: 200px; /* Adjust the height as needed */
}

.fa-canadian-maple-leaf {
  color: rgb(190, 62, 23);
}

.navbar-brand {
  color: rgb(190, 62, 23);
  margin-left: 6%;
}

.shoping-cart-icon {
  margin-right: 3%;
}

/* Add a transition effect */
.btn-info {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; 
}

.btn-info:hover {
  background-color: #5bc0de; 
  color: #fff; 
  border: #fff;
}